# Any base level configurations that will apply to all deployments (local dev, staging, prod)

version: '3'
services:
    api:
        env_file: .env
        networks:
            - app-network
    proxy:
        image: jeffstjean/enactushacks_nginx
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./proxy:/etc/nginx/
        networks:
            - app-network
        depends_on: 
            - api
        deploy:
            placement:
                constraints: [node.role == manager]

networks:
    app-network:
        driver: overlay