<% include partials/header %>
<p>Login</p>
<form class="" action="/auth/login" method="post">
  Email:<br>
  <input type="email" name="email">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Login">
</form>
<% include partials/footer %>
