<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EnactusHacks</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/one-page-wonder.min.css" rel="stylesheet">

</head>
 <nav id="myNav" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
       <img class="ml-5" src="../img/enactushacks_logo_transparent.png" height="38px" width="50px" alt="">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">EnactusHacks</a>
            <li class="nav-item">
            <a class="nav-link" href="#">Sponsorship</a>
            <li class="nav-item">
            <a class="nav-link" href="signup.html">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body class="grey">
    <br>
    <br>
  <div class="container my-5 form-box">
    
    <div class="row">
      <div class="col-md-8 my-5 mx-auto">
        <h1 class="text-purple ">Log In</h1>
        <form class="">
          <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" class="form-control">
          </div>
          <div class="form-group">
          <label>Password:</label>
          <input type="password" name="password" class="form-control">
          </div>
          <ul class="list-inline">
          <button type="submit" class="btn list-inline-item btn-dark">Log in</button>
          <a href="password_recovery.html" class="btn list-inline-item btn-dark"> Forgot my password</a>
        </form>
    </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </body>
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    var myNav = document.getElementById('myNav');
    $(document).ready(function(){
      $(window).scroll(function() { // check if scroll event happened
        if ($(document).scrollTop() > 100) { // check if user scrolled more than 50 from top of the browser window
          $(".fixed-top").css("background-color", "#ffffff"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
          myNav.classList.add("navbar-light");
          myNav.classList.remove("navbar-dark");

        } else {
          $(".fixed-top").css("background-color", "rgba(0,0,0,0)"); // if not, change it back to transparent
          myNav.classList.remove("navbar-light");
          myNav.classList.add("navbar-dark");

        }
      });
    });
</script>
</script>

</body>

</html>