<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnactusHacks | 24 Hour Startup</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container u-vertical-margin-small">
        <section>
            <img class="title-image" src="img/aboutPageText.png" alt="Nice to meet you!">
            <h1 hidden>Nice to meet you!</h1>
            <h2>Welcome to EnactusHacks.</h2>
            <p class="text-small u-vertical-margin-small">
                Imagine a case competition, coding event, and social activism think-tank all mashed together with free food, recruitment opportunities, and tons of prizes.<br>
                <b>That's us.</b><br>
                <br>
                EnactusHacks is a socially-driven, innovation focused hackathon designed for people of all backgrounds.<br>
            </p>
        </section>
        <section>
            <img class="title-image" src="img/howDoesItWorkText.png" alt="How does it work?">
            <p class="text-small u-vertical-margin-small">
                Each project has two components: a technical demo, and a feasibility presentation.
                The intention is simple: build a solution to change the world, <b>that will actually work.</b><br>
                <br>
                Teams must be composed of students from both STEM (e.g. computer science) and non-STEM (e.g. social science) backgrounds to compete.
            </p>
        </section>
        <section>
            <img class="title-image" src="img/whatCanIExpectText.png" alt="What can I expect?">
            <h2 class="u-vertical-margin-small">Virtual Environment</h2>
            <div class="img-text-flex">
                <img src="img/enactushacksLogoNoText.png" alt="EnactusHacks 2.0 Logo">
                <p class="text-small u-text-center">
                    A virtual 24-hour competition where you'll be work closely with a diverse team from various backgrounds. If you don't have a team, we will happily find some awesome new people for you to meet and work with.
                </p>
            </div>
            <h2 class="u-vertical-margin-small"> Brilliant Workshops</h2>
            <div class="img-text-flex">
                <img src="img/workshop.png" alt="Workshop Logo">
                <p class="text-small u-text-center">
                    10+ Workshops from impressive industry professionals
                    on a variety of technical and non-technical topics. Examples include Mobile Development 101, How to Understand People, and Introduction to programming.
                </p>
            </div>
            <h2 class="u-vertical-margin-small"> Huge Prizes</h2>
            <div class="img-text-flex">
                <img src="img/prizes.png" alt="Prizes">
                <p class="text-small u-text-center">
                    Great work deserves to be rewarded. That's why we have over $5,000 on the table for our winners.
                </p>
            </div>
            <h2 class="u-vertical-margin-small">Student Panel</h2>
            <div class="img-text-flex">
                <img src="img/panel.png" alt="Microphone">
                <p class="text-small u-text-center">
                    EnactusHacks is hosting a panel of students who have worked at cool and interesting places, such as Google, Deloitte, Microsoft, Shopify, Proctor and Gamble, Squarepoint Capital, Amazon, and more.
                </p>
            </div>
            <h2 class="u-vertical-margin-small"> Recruitment Opportunities</h2>
            <div class="img-text-flex">
                <img src="img/recruitment.png" alt="McKinsey & Company, RBC, and GM logos">
                <p class="text-small u-text-center">
                    One-on-One and group networking opportunities with recruiters from McKinsey & Company, RBC, GM, and more!
                </p>
            </div>
        </section>
        <section>
            <img class="title-image " src="img/faq.png" alt="FAQ">
            <p class="text-small u-vertical-margin-small text-yellow">Q: Who can apply?</p>
            <p class="text-small u-vertical-margin-small">A: Any college/undergraduate student can apply to EnactusHacks</p>
            <p class="text-small u-vertical-margin-small text-yellow">Q: I am a graduate/PhD/other student. Can I compete?</p>
            <p class="text-small u-vertical-margin-small">A: Please email us directly at enactushacks@gmail.com to discuss your situation and other options available (e.g. mentorship)</p>
            <p class="text-small u-vertical-margin-small text-yellow">Q: Will there be any opportunities for in-person content?</p>
            <p class="text-small u-vertical-margin-small">A: EnactusHacks will not be hosting nor take responsibility for any in-person events. However, if you and your social bubble are a team, you are of course free to work together in person</p>
            <p class="text-small u-vertical-margin-small text-yellow">Q: What if I don't have a team? What should I be looking for?</p>
            <p class="text-small u-vertical-margin-small">A: EnactusHacks will work with you to find a team. If you want to take matters into your own hands, note the team requirements below</p>
            <p class="text-small u-vertical-margin-small text-yellow">Q: What are the team requirements?</p>
            <p class="text-small u-vertical-margin-small">A: EnactusHacks requires that each team consist of 2 STEM and 2 NON-STEM members. If you have alternative requests, please reach out to enactushacks@gmail.com. We may approve different team structures in limited circumstances.</p>
            <p class="text-small u-vertical-margin-small text-yellow">Q: I'm a business/finance/social science student. Why EnactusHacks?</p>
            <p class="text-small u-vertical-margin-small">
                A: Business is nearly impossible without technology. Whether you're in banking, accounting, consulting, marketing, or any other industry, it's nearly guaranteed that working on technology will be at the core of your work.
                EnactusHacks will prepare you for this workforce better than any other event in Canada.<br>
                <br>
                Not only will you bolster your business skills by working on your feasbility pitch, attending workshops, and networking with top companies,
                you'll have the unique opportunity to work alongside technical individuals building new technology right in front of your eyes. Your job is to keep them on track towards building a solution that's feasible and impactful - just like you would in the real world.
                Plus, if you want to get your hands dirty with some coding, EnactusHacks has tons of beginner focused workshops geared towards getting you started. <br>
                <br>
                EnactusHacks will teach you the skills you need to last you a lifetime, on top of the opportunity to walk away with some of our $5,000 in prizes.
            </p>
            <p class="text-small u-vertical-margin-small text-yellow">Q: I'm a computer science/engineering/STEM student. Why EnactusHacks?</p>
            <p class="text-small u-vertical-margin-small">
                A: Technology is never developed in a vaccuum. In the workplace, developers have to deal with business requirements, designers, budgets, and non-technical coworkers every day to do their jobs.<br>
                <br>
                Hackathons usually teach you new technical skills, but often neglect the business side of technology. At EnactusHacks, we do both.<br>
                <br>
                Not only will you bolster your tech skills by building a technical demo, attending workshops, and networking with top companies,
                you'll have the unique opportunity to work alongside non-technical individuals to learn more about the entrepreneurial and business side of technology.
                Plus, if you want to get your hands dirty working on the business plan, EnactusHacks has tons of beginner focused workshops geared towards getting you started.<br>
                <br>
                EnactusHacks will teach you the skills you need to last you a lifetime, on top of the opportunity to walk away with some of our $5,000 in prizes.
            </p>
            <p class="text-small u-vertical-margin-small text-yellow">Q: I have another question. What do I do?</p>
            <p class="text-small u-vertical-margin-small">
                A: Reach out to enactushacks@gmail.com. We're happy to help.
            </p>
        </section>
        <section class="u-text-center">
            <img class="title-image" src="img/thankYou.png" alt="Thank You!">
            <h2>Thank you to our fantastic sponsors.</h2>
            <div class="img-text-flex u-vertical-margin-large">
                <a href="https://www.facebook.com/ssscwestern/">
                    <img src="img/sssc.png" alt="Social Science Students' Council at Western University" target="_blank">
                </a>
                <a href="https://jobs.rbc.com/ca/en/students-graduates" target="_blank">
                    <img src="img/rbc.png" alt="Royal Bank of Canada">
                </a>
            </div>
            <div class="img-small">
                <a href="https://globalspark.world/#/" target="_blank">
                    <img src="img/goldenSpark.png" alt="Golden Spark">
                </a>
            </div>
        </section>
    </div>
    <% if(locals.id) { %>
        <div class="nav-lower">
            <a href="/status" class="btn-nav btn-round btn-purple action"><span class="btn-text-small">Account</span></a>
        </div>
    <% } %>
</body>
</html>

<!--<header  class="masthead text-center ">-->
<!--  <div class="image"></div>-->
<!--  <div class="masthead-content up ">-->

<!--    &lt;!&ndash;       <img class="left" src="img/left.png">&ndash;&gt;-->
<!--    <img class="right" src="img/right.png">-->
<!--    &lt;!&ndash;        <img class="logo" src="img/enactushacks_logo_transparent.png" >&ndash;&gt;-->
<!--    <h1 class="masthead-heading text-black bold mb-0">EnactusHacks</h1>-->
<!--    <a href="newsletter" class="btn btn-enactus  btn-xl rounded-pill mt-4"> Subscribe to newsletter </a>-->
<!--  </div>-->

<!--</header>-->
