<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnactusHacks | 24 Hour Startup</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>

<body>

</body>

</html>

<!--<header  class="masthead text-center ">-->
<!--  <div class="image"></div>-->
<!--  <div class="masthead-content up ">-->

<!--    &lt;!&ndash;       <img class="left" src="img/left.png">&ndash;&gt;-->
<!--    <img class="right" src="img/right.png">-->
<!--    &lt;!&ndash;        <img class="logo" src="img/enactushacks_logo_transparent.png" >&ndash;&gt;-->
<!--    <h1 class="masthead-heading text-black bold mb-0">EnactusHacks</h1>-->
<!--    <a href="newsletter" class="btn btn-enactus  btn-xl rounded-pill mt-4"> Subscribe to newsletter </a>-->
<!--  </div>-->

<!--</header>-->
