<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply | EnactusHacks</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/apply.js" defer></script>
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHRZRC2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <form action="/user" method="POST" id="apply">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="jeffrey@stjean.ca" required><br>

        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name" value="Jeff" required><br>

        <label for="last_name">Last name:</label><br>
        <input type="text" id="last_name" name="last_name" value="St. Jean" required><br>

        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option selected disabled>Choose</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            <option value="na">Prefer not to say</option>
        </select><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" value="London" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="TestTest123!" required><br>

        <label for="password_verify">Verify Password:</label><br>
        <input type="password" id="password_verify" name="password_verify" value="TestTest123!" required><br>

        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>