
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | EnactusHacks</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHRZRC2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <div class="flex-container">
            <img class="img-title" src="img/error_text.png" alt="Yikes!">
            <% if(statusCode >= 500) { %>
                <h1>Uh-oh! Looks like something went wrong on our end. Please try again later.</h1>
            <% } else if(statusCode === 404) { %>
                <h1>Looks like you're a bit lost.</h1>
            <% } else { %>
                <h1>Uh-oh! Looks like something went wrong with your request. Please try again later.</h1>
            <% } %>
            <a href="." class="btn-round btn-purple u-vertical-margin-small"><span class="btn-text">Return to Homepage</span></a>
        </div>
    </div>
</body>
</html>