<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnactusHacks | 24 Hour Startup</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="/js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<%- include('partials/nav.ejs') %>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHRZRC2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container u-flex-center">
        <img class="logo" src="img/enactushacksLogoNoText.png" alt="EnactusHacks | A 24 Hour Startup">
        <img class="title-image" src="img/enactushacksText.png" alt="EnactusHacks 2.0">
        <!-- For SEO Purposes -->
        <h1 hidden>EnactusHacks 2.0</h1>
        <div class="main-content">
            <h2>October 24th - 25th, 2020</h2>
            <h2 id="random-title">/__*^{!</h2>
        </div>
        <!-- <p class="text-small text-yellow u-vertical-margin-small">Applications Due October 5th</p> -->
        <a href="about" class="btn-round btn-purple"><span class="btn-text">Learn More</span></a>
        <!-- <a href="apply" class="btn-round btn-yellow"><span class="btn-text">Apply Now</span></a> -->

        <div class="footer">
            <p>&copy;EnactusHacks 2020 | <a href="http://github.com/jeffstjean" target="_blank">Created by Jeff St. Jean</a></p>
        </div>
    </div>
</body>
</html>