<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnactusHacks | 24 Hour Startup</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<body>
    <img class="left-img" src="img/left.png"/>
    <img class="right-img" src="img/right.png"/>
    <div class="container">
        <div class="sponsor">
            <a href="/click?q=%2Fdocs%2Fsponsorship_package.pdf&source=landing" target="_blank" download="Enactus Hacks Sponsorship Package 2020">Become a Sponsor!</a>
        </div>
        <img class="logo" src="img/logo.svg" alt="EnactusHacks | A 24 Hour Startup">
        <div class="main-content">
            <h1 id="random-title">/__*^{!</h1>
            <h2>October 23rd - 24th, 2020</h2>
            <h3>// Virtual Hackathon</h3>
            <a href="/click?q=https%3A%2F%2Fwww.facebook.com%2Fenactushacksuwo&source=landing" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="/click?q=https%3A%2F%2Fwww.instagram.com%2Fenactushacksuwo%2F&source=landing" target="_blank"><i class="fab fa-instagram-square"></i></a>
        </div>
        <div class="email">
            <form onsubmit="event.preventDefault(); add_email(this);">
                <input class="normal" type="email" id="email" name="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'GET EMAIL UPDATES'" placeholder="GET EMAIL UPDATES">
            </form>
        </div>
        <div class="footer">
            <p>&copy;EnactusHacks 2020 | <a href="http://github.com/jeffstjean" target="_blank">Created by Jeff St. Jean</a></p>
        </div>
    </div>
</body>
</html>