
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | EnactusHacks</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<%- include('partials/nav.ejs') %>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHRZRC2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- <a href="/"><img class="logo-small" src="img/enactushacksLogoNoText.png" alt="EnactusHacks | A 24 Hour Startup"></a> -->
    <div class="container u-flex-center">
        <img class="title-image" src="img/signin_text.png" alt="Sign-In">
        <% if(locals.errors) { %>
            <div class="error u-text-center">
                <% errors.forEach(error => { %>
                    <% if(error === 'InvalidCredentials') { %>
                        <p>Incorrect email or password.</p>
                    <% } else if(error === 'PasswordMismatch') { %>
                        <p>Passwords do not match.</p>
                    <% } else if(error === 'DuplicateUser') { %>
                        <p>A user with that email already exists.</p>
                    <% } else if(error === 'InvalidPassword') { %>
                        <p>Passwords must be at least 8 characters, container one uppercase and lowercase letter, a special character (one of @ $ ! % * ? & # ^) and a number.</p>
                    <% } else {%>
                        <p><%= error %></p>
                    <% } %>
                <% }) %>
            </div>
        <% } %>
        <div class="form-container u-full-width">
            <div class="flex-container u-full-width u-text-center u-flex-center" id="login-form">
                <form action="/login" method="POST" id="login">
                    <h1>Login</h1>
                    <input type="email" id="email" name="email" placeholder="Email" required><br>

                    <input type="password" id="password" name="password" placeholder="Password" required><br>

                    <br>
                    <input type="submit" value="Log In" class="btn btn-yellow action">
                </form>
                <form action="/signup" method="POST" id="create">
                    <h1>Create Account</h1>
                    <input type="email" id="email" name="email" placeholder="Email" required><br>

                    <input type="password" id="password" name="password" placeholder="Password" required><br>

                    <br>
                    <input type="submit" value="Sign Up" class="btn btn-yellow action">
                </form>
            </div>
        </div>
    </div>
</body>
</html>