<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status | EnactusHacks</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<%- include('partials/nav.ejs') %>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHRZRC2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container u-flex-center">
        <img class="title-image" src="img/status_text.png" alt="Your Profile">
        <div class="status u-text-center">
            <% if(user.first_name) { %>
                <h1>Hi <span class="status-alternate"><%= user.first_name %></span>, your application status is <span class="status-alternate"><%= user.application_status.toUpperCase() %></span>.</h1>
            <% } else { %>
                <h1>Hi, your application status is <span class="status-alternate"><%= user.application_status.toUpperCase() %></span>.</h1>
            <% } %>
        </div>
        <% if(!user.date_application_completed && accepting_applications) { %>
            <a href="apply" class="btn-round btn-purple"><span class="btn-text">Finish Applying</span></a>
        <% } else { %>
            <a href="about" class="btn-round btn-purple"><span class="btn-text">Learn More</span></a>
        <% } %>
        <% if(!accepting_applications) { %>
            <p class="text-small">Applications are now closed.</p>
        <% }  %>
    </div>
</body>
</html>