
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176563315-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-176563315-1');</script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHRZRC2');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email | EnactusHacks</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHRZRC2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include('partials/nav.ejs') %>
    <div class="container u-flex-center">
        <img class="title-image" src="img/verify_text.png" alt="Verify Your Email">
        <% if(locals.user) { %>
            <p class="text-small u-text-center">We have sent an email to <%= user.email %>. Please click the link in that email before proceeding (check your spam/junk).</p>
        <%} else if(locals.expired) { %>
            <p class="text-small u-text-center">Sorry that token has expired. Please request a new one below.</p>
        <% } %>
        <div class="form-container">
            <div class="flex-container u-text-center">
                <form action="/verify" method="POST" id="verify">
                    <h2>Resend Verification</h2>
                    <input type="email" id="email" name="email" placeholder="Email" required><br>
                    <input type="submit" value="Resend" class="btn btn-purple action">
                </form>
            </div>
        </div>
    </div>
</body>
</html>