<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1 ,user-scalable=no shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnactusHacks</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/new-design.css" rel="stylesheet">


</head>

<body>
<div class="navigation">
    <%- include partials/nav.ejs %>
</div>
<img class="right" src="img/right.png"/>

<div class="faqcontent">
    <div class="inner-content">
        <div>
            <h1 class="sleek-heading lr-5">FAQ</h1>
            <h2 class="sleek-subheading lr-5">Your questions, answered.
            </h2>
            <br>
        </div>
        <div class="information">
            <button class="accordion lr-5">Where is the event taking place?</button>
            <div class="panel">
                <p><br>The event will take place at the Arts and Humanities Building and University College at Western University. This is subject to change.
                A map will be posted closer to the event date</p>
            </div>
            <br>
            <button class="accordion lr-5">When is the event?</button>
            <div class="panel">
                <p><br>The event will be from February 1st-2nd. A detailed schedule will be posted closer to the event date</p>
            </div>
            <br>
            <button class="accordion lr-5">I would love to come, but I have other commitments that day. Will I still be able to participate?</button>
            <div class="panel">
                <p><br>While the team has tried to schedule the event away from other major events, we acknowledge that there will inevitably
                 be other events conflicting with ours. Please contact us at enactushacks@gmail.com to see if we can work something out.</p>
            </div>
            <br>
            <button class="accordion lr-5">What will you be looking for in a winner?</button>
            <div class="panel">
                <p><br>Creativity. Feasibility. Impact. We'll leave it at that for now.</p>
            </div>
            <br>
            <button class="accordion lr-5">I'm an out of town guest. What do I need to know?</button>
            <div class="panel">
                <p><br>Thank you so much for your interest! Due to venue constraints, we will not be able to host you overnight at the venue. However, we are more than happy to arrange
                overnight transportation at a nearby hotel using a discounted rate. More information will be relayed closer to the event. Please contact us at enactushacks@gmail.com if you need travel assistance.</p>
            </div>
            <br>
            <button class="accordion lr-5">When will I hear back about a decision?</button>
            <div class="panel">
                <p><br>We will be releasing decisions on a rolling basis, first-come-first-serve. If you don't hear back immediately, don't fret. It can take some time to ensure each application gets the attention it deserved.</p>
            </div>
            <br>
            <button class="accordion lr-5">What's provided at the hackathon?</button>
            <div class="panel">
                <p><br>Great food (A lunch, dinner, breakfast, snacks, and drinks), great workshops from all disciplines, and great times. Best part? It's free.</p>
            </div>
            <br>
            <button class="accordion lr-5">Do I have to be in Enactus to attend?</button>
            <div class="panel">
                <p><br>Not at all. While we are partnered with Enactus Western to offer a better event experience, this event is 100% open to the public. </p>
            </div>
            <br>
            <button class="accordion lr-5">I have another question. What do I do?</button>
            <div class="panel">
                <p><br>We're here to help. Email us at enactushacks@gmail.com for assistance.</p>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>


</body>

</html>

<!--<header  class="masthead text-center ">-->
<!--  <div class="image"></div>-->
<!--  <div class="masthead-content up ">-->

<!--    &lt;!&ndash;       <img class="left" src="img/left.png">&ndash;&gt;-->
<!--    <img class="right" src="img/right.png">-->
<!--    &lt;!&ndash;        <img class="logo" src="img/enactushacks_logo_transparent.png" >&ndash;&gt;-->
<!--    <h1 class="masthead-heading text-black bold mb-0">EnactusHacks</h1>-->
<!--    <a href="newsletter" class="btn btn-enactus  btn-xl rounded-pill mt-4"> Subscribe to newsletter </a>-->
<!--  </div>-->

<!--</header>-->
