<% include partials/header %>
<% include partials/nav %>
<div class="enactus">

<!-- Can't have br tags like this, it'll break any vertical repsonsiveness
      and is why you've been having troubles with the footers
      Use CSS to position things where you want them -->
  <br>
  <br>
  <br>
  <br>
  <div class="container form-box">
    <div class="row">
      <div class="col-md-8 my-5 mx-auto">
        <h1 class="text-purple">Forgot My Password</h1>
        <form class="text" method="POST" action="/forgot">
          <div class="form-group">
            <label>Enter account email:</label>
            <input type="email" name="email" class="form-control">
          </div>
          <ul class="list-inline">
            <button type="submit" class="btn list-inline-item btn-dark"> Submit</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<% include partials/footer %>
