<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1 ,user-scalable=no shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnactusHacks</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/new-design.css" rel="stylesheet">


</head>

<body>
<div class="navigation">
    <%- include partials/nav.ejs %>
</div>
<img class="right" src="img/right.png"/>
<div class="content">
    <div class="inner-content">
        <section class="information">
            <h1 class="sleek-heading lr-5 purple-text">EnactusHacks</h1>
            <h2 class="sleek-subheading lr-5">24&nbsp;Hours.&nbsp;$1000&nbsp;Prize.
                <wbr>
                Infinite&nbsp;Ideas.
            </h2>
            <h3 class="sleek-text lr-5">Canada's&nbsp;first&nbsp;impact&nbsp;focused&nbsp;hackathon, blending&nbsp;innovation,&nbsp;creation,<br>
                and&nbsp;students&nbsp;from&nbsp;all&nbsp;faculties.</h3>
            <h3 class="sleek-text purple-text lr-5">February 1st-2nd, 2020</h3>
            <h4 class="sleek-subtext lr-5">Presented&nbsp;by&nbsp;RBC, Western Arts and Humanities Student’s Council,
                and Western Social Sciences Student's Council</h4>
        </section>

        <section class="apply-button">
            <h3 class="sleek-text lr-5">Applications closing soon!</h3>
            <h4 class="sleek-subtext lr-5">Submit by January 15th @ 11:59PM</h4>
            <a href="apply" class="btn btn-enactus  btn-xl rounded-pill lr-5"> Apply Now! </a>
        </section>
    </div>
    <!-- Bootstrap core JavaScript -->

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>


</body>

</html>

<!--<header  class="masthead text-center ">-->
<!--  <div class="image"></div>-->
<!--  <div class="masthead-content up ">-->

<!--    &lt;!&ndash;       <img class="left" src="img/left.png">&ndash;&gt;-->
<!--    <img class="right" src="img/right.png">-->
<!--    &lt;!&ndash;        <img class="logo" src="img/enactushacks_logo_transparent.png" >&ndash;&gt;-->
<!--    <h1 class="masthead-heading text-black bold mb-0">EnactusHacks</h1>-->
<!--    <a href="newsletter" class="btn btn-enactus  btn-xl rounded-pill mt-4"> Subscribe to newsletter </a>-->
<!--  </div>-->

<!--</header>-->
