<% include partials/header %>
<% include partials/nav %>

<header  class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container" >
      <img src="img/enactushacks_logo_transparent.png" height="250px" width="325px">
      <h1 class="masthead-heading text-enactus mb-0">EnactusHacks</h1>
      <h1 class="masthead-subheading text-enactus mb-0">//24hr startup</h1>
        <a href="newsletter" class="btn btn-primary  btn-xl rounded-pill mt-5"> Subscribe to newsletter </a>
    </div>
  </div>
</header>

<div class="container-fluid enactus">
  <section>
    <div class="container white text-center">
      <br>
      <h1 class="section-title "> About us</h1>
      <hr>
      <div class="container">
        <div class=" text-center">

<span class="highlight bolder text-enactus">
YOU </span>
<span class="highlight bold " >are the key to a better world and
</span>
<span class="highlight bolder text-enactus">
 WE
 </span>
<span class="highlight bold">  are your support.
</span>
</div>
</div>
</div>
</section>
    <section>
    <div class="container white">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/the_event_resized.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">The Event</h2>
            <p>EnactusHacks will take place on
            <span class="bolder">January 25-26, 2020</span>
            at <span class="bolder"> Western University.</span> As the full name suggests, this is a 24 hour event in which you will have the opportunity to innovate, create, and have fun! Entry is free, and so is food!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container white">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/the_goal_resized.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">The Goal</h2>
            <p>At Enactus Western, we saw an opportunity to use technology to our advantage. By creating a hackathon designed to tackle social responsibility as well as current business and world issues, we are providing a platform for students to create powerful and innovative solutions that will last. The winners will also have a chance to actualize their ideas through Enactus Western!
</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container white">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/the_reason_resized.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">The Reason</h2>
            <p>EnactusHacks was created to bridge the gap between the technology and business industries to solve and strategize like no one before. Our aim of a 1:1 NON-STEM and STEM team ratio ensures greater diversity and breadth of knowledge, which enables students to broaden their cognizance, and create multifaceted solutions.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  </div>

<% include partials/footer %>
