<% include partials/header %>
<% include partials/nav %>

<header  class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container" >
      <img src="../img/enactushacks_logo_transparent.png" height="350px" width="455px">
      <h1 class="masthead-heading text-enactus mb-0">EnactusHacks</h1>
      <h1 class="masthead-subheading text-enactus mb-0">// 24hr startup</h1>
      <!-- We want this button to be visible on page load no matter what, it's the main CTA -->
      <a href="signup.html" class="btn btn-primary display-3 btn-xl rounded-pill my-5">Stay Updated</a>
    </div>
  </div>

</header>
<div class="container-fluid enactus">
<section>
  <div class="container white text-center">
    <!-- Use margins/padding instead -->
    <br>
    <h1 class="section-title">About us</h1>

  </div>
  <div class="container white">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">The Goal</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container white">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">The Reason</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container white">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">The People</h2>
          <p>Lorem ipsum dolor sit amet, consecteur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>

</div>

<% include partials/footer %>
