<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>EnactusHacks</title>
  <link rel="stylesheet" href="css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="wrapper">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sponsors</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
    <div class="masthead">
      <img src="img/logo-no-text.svg" alt="Logo">
      <h1>EnactusHacks</h1>
      <h6>// 24hr Startup</h6>
      <div class="button">
        <a href="#">Stay Updated</a>
      </div>
    </div>

    <script src="js/index.js"></script>
  </div>
</body>
</html>
