<% include partials/header %>
<% include partials/nav %>

<!-- Originally this class was attached to body, makes it very difficult to break free from that design
      Essentially, you're locking yourself in to every body tag having that css applied
      Also, good practice is to never write directly in other CSS files (one-page-wonder.css)
      Cascasing Style Sheets means that the order they're linked in the header is the order they'll
      be applied in, so put everything in the enactus.css file and don't be afraid to break things up
      Last thing, a class like 'enactus' doesn't describe what it does. if someone came in to maintain
      this they would have to know exactly what enactus class does before being able to change anything -->
<div class="enactus">
  <br>
  <br>
  <div class="container form-box-straight col-md-4 my-5 ">
    <!-- Check if any error messages present and display them -->
    <% if(locals.success.length > 0) { %>
    <div class="row">
      <div class="col-md-8 my-5 mx-auto">
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      </div>
    </div>
    <% } %>
    <!-- End -->

    <div class="row ">
      <div class="col-md-9 my-5 mx-auto">
        <!-- This name is much better, now I know what it's doing (could even be 'text-main' or
              just restyling the h1 tag to suit your needs) -->
        <h1 class="text-purple">Log In</h1>
        <form class="" method="POST" action="/login">
          <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control">
          </div>
          <ul class="list-inline">
            <button type="submit" class="btn btn-purple list-inline-item text-white">Log in</button>
            <hr>
            <!-- Need a button to link to the registration page as well -->
            <a href="password_recovery.html" class="btn list-inline-item btn-purple text-white">Forgot my password</a>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
