<% include partials/header %>
<% include partials/nav %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container col-md-8 form-box-straight">

    <div class="row">
      <div class="col-md-10 my-5 mx-auto">
        <% if(locals.removed_user) { %>
        <div class="alert alert-success" role="alert">
          Unfortunate to see you go but we have removed <%=locals.removed_user%> from the mailing list.
        </div>
        <% } %>
        <% if(locals.error_user) { %>
        <div class="alert alert-danger" role="alert">
          Huh, that's weird. We can't seem to find <%=locals.error_user%> on our mailing list to delete. If this is a recurring issue, reach out to jeff.stjean@enactushacks.com.
        </div>
        <% } %>
        <h1 class="text-purple">Remove Email From Mailing List</h1>
        <p>We'd love for you to stay in touch but we understand if this is the last goodbye! Just enter your email below and we'll take care of the rest.</p>
        <form class="text" action="" method="POST">
        <div class="form-group">
          <label>Email:</label>
          <input type="email" name="email" class="form-control">
        </div>
        <ul class="list-inline">
        <button type="submit" class="btn btn-purple text-white list-inline-item ">Goodbye!</button>
      </form>
    </div>
  </div>
  </div>
<% include partials/footer %>
