<% include partials/header %>
<% include partials/nav %>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">GET OUTTA HERE</h1></br>
    <div class="alert alert-danger" role="alert">
      <p class="text-center"><%= title %></p>
    </div>
  </div>
</div>
<% include partials/footer %>
