<!-- I can't remember which file it was in but I cleaned up quite a few tags that
      weren't closed and a bunch of indentation that made it very difficult to read -->


<!-- Footer -->
<footer id="footer" class="py-5 bg-black">
  <div class="container-fluid">
    <p class=" text-center text-white small">EnactusHacks 2019</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
