<nav id="myNav" class="navbar navbar-color navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> EnactusHacks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="newsletter">Subscribe to Newsletter</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
          <li class="nav-item">
          <a class="nav-link" href="#">Sponsorship</a>
          <li class="nav-item">
          <a class="nav-link" href="signup.html">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Log In</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
