/* Reset. This is needed so each browser renders the same
This universal selector, * will select every element
*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*
This is where you specify the root font size
Using REM for design makes it really easy to make mobile versions of a site
Using font size of 10 now makes it easy to convert px to REM in your head.
This is the same as 62.5%. It's better to use percentages for accessibility reasons

Not supported below IE9.
*/
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

body, html {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Cairo', sans-serif;
    line-height: 1.5;
}
