button {
    cursor: pointer;
}

.btn-round {
    background-color: whitesmoke;
    color: var(--btn-text-color-light);
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    width: var(--btn-round-width);
    height: var(--btn-round-height);
    transition: var(--transition-time);
}

.btn-round:not(:last-child) {
    margin-bottom: var(--btn-round-margin-bottom);
}

.btn-round:hover {
    transform: scale(var(--btn-round-hover-scale));
}

.btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-text-color-dark);
    font-size: var(--btn-text-font-size);
}

.btn-text-small {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-text-color-dark);
    font-size: var(--btn-text-font-size-small);
}

.btn-yellow {
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-offset-blur) var(--btn-yellow-background);
    background-color: var(--btn-yellow-background);
    padding: var(--btn-padding);
}

.btn-purple {
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-offset-blur) var(--btn-purple-background);
    background-color: var(--btn-purple-background);
    padding: var(--btn-padding);
}

.action {
    border-width: 0px;
    border-radius: 1000px;
    width: 10rem;
    height: var(--action-height);
}

.action:not(:last-child) {
    margin-bottom: var(--btn-round-margin-bottom);
}

.action:hover {
    transform: scale(var(--btn-round-hover-scale));
    transition: 100ms;
}

