.logo {
    margin-top: var(--logo-margin-top);
    width: var(--logo-width);
}

.logo-small {
    margin-top: var(--logo-small-margin-top);
    margin-left: var(--logo-small-margin-left);
    width: var(--logo-small-width);
}

.logo-nav {
    height: var(--action-height);
    transition: var(--transition-time);
}

.logo-nav:hover {
    transform: scale(1.2);
}

.title-image {
    width: var(--title-image-width);
}

.title-container {
    margin-top: var(--title-margin-top);
    width: 100%;
}

.left-img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
}

.right-img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
}

.container {
    padding: var(--container-vertical-padding) 0;
    width: var(--container-width);
    min-height: 95vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.nav {
    margin: 20px auto;
    text-align: center;
    width: 60%;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav li:last-child {
    background-color: #e67e22;
    border: 1px solid #e67e22; 
    border-radius: 15px;
}

.nav li:last-child a {
    color: #fff;
}

.nav a {
    text-decoration: none;
    color: #7B6080;
    font-size: 1.1em;
    transition: 200ms;
    display: inline-block;
    padding: 3px 20px;
}

.nav a:hover {
    color: #604d63;
}

.main-content {
    margin: 20px 0;
    text-align: center;
}

.email {
    margin: 10px 0;
    -webkit-text-fill-color: #fff !important;
}

.email input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 350px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 25px;
    padding: 5px 0;
    color: #fff;
}

.email input[type="email"]::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

.email input[type="email"]::-ms-input-placeholder  { /* Microsoft Edge */
    color: #fff;
}

.normal,
.normal:-webkit-autofill,
.normal:-webkit-autofill:hover, 
.normal:-webkit-autofill:focus, 
.normal:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #7B6080 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: 0s;
    background-color: #7B6080;
    border: 1px solid #7B6080 !important;
    transition: 1s;
}

.loading,
.loading:-webkit-autofill,
.loading:-webkit-autofill:hover, 
.loading:-webkit-autofill:focus, 
.loading:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #a3a3a3 inset !important;
    -webkit-text-fill-color: #fff !important;
    background-color: #a3a3a3;
    border: 1px solid #a3a3a3 !important;
    transition: 200ms;
}

.complete,
.complete:-webkit-autofill,
.complete:-webkit-autofill:hover, 
.complete:-webkit-autofill:focus, 
.complete:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #27ae60 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: 1s;
    background-color: #27ae60;
    border: 1px solid #27ae60 !important;
}

.error,
.error:-webkit-autofill,
.error:-webkit-autofill:hover, 
.error:-webkit-autofill:focus, 
.error:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #c0392b inset !important;
    -webkit-text-fill-color: #fff !important;
    background-color: #c0392b;
    border: 1px solid #c0392b !important;
}

.email input[type="submit"] {
    width: 40%;
    background-color: #34495e;
    margin: 8px 30%;
    border: 1px solid #000; 
    border-radius: 25px;
}

.footer {
    width: 100vw;
    height: 5vh;
}

.footer p {
    margin: 10px auto;
    text-align: center;
    color: #a8a8a8;
    font-size: 2rem;
}

.footer a {
    text-decoration: none;
    color: #a8a8a8;
    transition: 200ms;
}

.footer a:hover {
    color: #AAAAAA;
}

section {
    padding-top: var(--section-padding);
}

section:not(:last-child) {
    padding: var(--section-padding) 0;
    border-bottom: 1px solid var(--color-purple);
}

.img-title {
    display: block;
    margin: 5rem auto 0;
    width: 50%;
}

.form-container {
    width: 95%;
}

.flex-container {
    padding: 3rem 0;
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 2rem;
    text-align: center;
}

.flex-container form:not(:last-child) {
    border-right: 1px solid var(--color-purple);
}


form {
    width: 40rem;
}

form h1 {
    margin: 1rem 0;
    text-align:center;
}

form input[type=email], form input[type=password] {
    margin: 1rem 0 1.5rem;
    height: 2.5rem;
    width: 25rem;
    padding: 1.25rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    background-color: #e74c3c;
    width: 70%;
    border: #e74c3c 1px solid;
    border-radius: 1rem;
    padding: 0.75rem 0;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.verify-msg {
    margin-bottom: 2rem;
}

.nav {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "logo . action";
    width: 100vw;
}

.nav-logo {
    grid-area: logo;
    height: var(--action-height);
}

.nav-action {
    grid-area: action;
    margin: auto;
}

.nav-action button {
    width: 10rem;
    margin: auto;
}

.status {
    margin-top: 4rem;
}

.status-alternate {
    margin-top: 4rem;
    color: var(--color-purple);
}

.status h1 {
    margin-bottom: 4rem;
}

#apply {
    width: 100%;
}

#apply input[type="text"],
#apply input[type="date"],
#apply input[type="url"],
#apply textarea {
    width: 30rem;
    margin: 1rem 0 1.5rem;
    height: 2.5rem;
    padding: 1.25rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#apply select {
    width: 30rem;
    margin: 1rem 0 1.5rem;
    height: 2.5rem;
    padding: 0 0.75rem;
}

.caption-label {
    margin-top: 0.75rem;
    font-size: 1.25rem;
}

.shipping-wrapper {
    border: var(--color-yellow) 4px solid;
    border-radius: 5rem;
    padding: 2rem;
    margin: 2rem;
}

.shipping-wrapper input[type="checkbox"] {
    margin: 1rem 0.5rem;
    vertical-align: middle;
}

#ship-merch {
    color: var(--color-white);
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.shipping-wrapper a {
    color: var(--color-purple);
}

textarea {
    min-height: 10rem;
    min-width: 50rem;
}
