body, html {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Cairo', sans-serif;
}

.logo {
    margin-top: var(--logo-margin-top);
    width: var(--logo-width);
}

.title-image {
    width: var(--title-image-width);
}

.left-img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
}

.right-img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
}

.container {
    width: 70vw;
    min-height: 95vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav {
    margin: 20px auto;
    text-align: center;
    width: 60%;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav li:last-child {
    background-color: #e67e22;
    border: 1px solid #e67e22; 
    border-radius: 15px;
}

.nav li:last-child a {
    color: #fff;
}

.nav a {
    text-decoration: none;
    color: #7B6080;
    font-size: 1.1em;
    transition: 200ms;
    display: inline-block;
    padding: 3px 20px;
}

.nav a:hover {
    color: #604d63;
}

.main-content {
    margin: 20px 0;
    text-align: center;
}

.email {
    margin: 10px 0;
    -webkit-text-fill-color: #fff !important;
}

.email input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 350px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 25px;
    padding: 5px 0;
    color: #fff;
}

.email input[type="email"]::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

.email input[type="email"]::-ms-input-placeholder  { /* Microsoft Edge */
    color: #fff;
}

.normal,
.normal:-webkit-autofill,
.normal:-webkit-autofill:hover, 
.normal:-webkit-autofill:focus, 
.normal:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #7B6080 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: 0s;
    background-color: #7B6080;
    border: 1px solid #7B6080 !important;
    transition: 1s;
}

.loading,
.loading:-webkit-autofill,
.loading:-webkit-autofill:hover, 
.loading:-webkit-autofill:focus, 
.loading:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #a3a3a3 inset !important;
    -webkit-text-fill-color: #fff !important;
    background-color: #a3a3a3;
    border: 1px solid #a3a3a3 !important;
    transition: 200ms;
}

.complete,
.complete:-webkit-autofill,
.complete:-webkit-autofill:hover, 
.complete:-webkit-autofill:focus, 
.complete:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #27ae60 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: 1s;
    background-color: #27ae60;
    border: 1px solid #27ae60 !important;
}

.error,
.error:-webkit-autofill,
.error:-webkit-autofill:hover, 
.error:-webkit-autofill:focus, 
.error:-webkit-autofill:active  {
    box-shadow: inherit;
    -webkit-box-shadow: 0 0 0 30px #c0392b inset !important;
    -webkit-text-fill-color: #fff !important;
    background-color: #c0392b;
    border: 1px solid #c0392b !important;
}

.email input[type="submit"] {
    width: 40%;
    background-color: #34495e;
    margin: 8px 30%;
    border: 1px solid #000; 
    border-radius: 25px;
}

.footer {
    width: 100vw;
    height: 5vh;
}

.footer p {
    margin: 10px auto;
    text-align: center;
    color: #a8a8a8;
    font-size: 2rem;
}

.footer a {
    text-decoration: none;
    color: #a8a8a8;
    transition: 200ms;
}

.footer a:hover {
    color: #AAAAAA;
}
