.u-flex-center {
    align-items: center;
    justify-content: center;
}

.u-vertical-margin-small {
    margin-top: var(--vertical-margin-small) !important;
    margin-bottom: var(--vertical-margin-small) !important;
}

.u-text-center {
    text-align: center;
}

.u-full-width {
    width: 100% !important;
}