NODE_ENV=DEVELOPMENT
FULL_URL=http://localhost:3000
HOSTNAME=localhost
PORT=3000
MONGO_URI=mongodb://mongo:27017/mongodb
JWT_SECRET=
JWT_TOKEN_LIFE=20m
MAILGUN_KEY=
MAILGUN_DOMAIN=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
